body {
    background: #fafafa;
    background-image: url(img/backgroundsvg.svg);
    background-position: center;

}
.responsive {
   width: 100%;
   margin-top: 18%;
   max-width: 100%;
   height: auto;
}


.wrapper {

    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 100px;
    max-width: 100px;
    background: #000000;
    transition: all 0.4s;
    padding-top: 50%;    
}

#milad {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
}
.icon-bar {
    width: 20%; 
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }
  
  .icon-bar a {
    float: left; 
    text-align: center; 
    width: 20%; 
    transition: all 0.3s ease;
  }

@media (max-width: 768px) {
    #sidebar {
        margin-left: -100px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .footer {
        display: none;
    }
    
}
@media (min-width: 769px) {
    #sidebar {
        display: none;
    }
    .btn {
        display: none;
    }
}